$ccc:red;
.box {
    border: 1px solid $ccc;
}

.foo {
    background: orange;
    p {
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }
}

html {
    font-size: (1em/2);
}


/* descobre o que deves usar para gerar o css */

.user-dialog-box {
    border: 10px solid gray;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.alert-winning-user {
    @extend .user-dialog-box;
    border-color: green;
}

@mixin dialog-box($color) {
    border: solid $color;
}

.alert-winning-user {
    @include dialog-box(yellow);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}